<!doctype html>
<html lang="en" class="h-100"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="https://cdn.sstatic.net/Shared/stacks.css?v=5ad0f45f4799">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.sstatic.net/Sites/stackoverflow/primary.css?v=0cc30ee01b86">


    <title>Question-page</title>
</head>

<style>

    #header {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    #sidebar {
        display: flex;
        flex-grow: 1;
        height: auto;
        position: relative;
        right: -304px;

    }

    #content {
        display: flex;
        flex-grow: 1;
        height: 550px;
        padding: 24px;
        float: right;
        position: relative;
        top: -262px;
        right: -97px;

    }

    #footer {
        display: block;
        flex-grow: 1;
        height: auto;
        text-align: left;
    }

    body {
        height: 100px;
    }

</style>

<body>
<div id="header"></div>
<div class="container">
    <div id="sidebar">
        <div class="row">
            <div class="col-8">
                <th:block class="font-weight-bold h1" th:each="Question : ${Question.title} ">Тут будет вопрос!
                </th:block>
                <br>
                <br>
                Вопрос задан:
                <th:block class="font-weight-bold" th:each="Question : ${Question.persistDateTime}">Время
                </th:block>
                Изменён:
                <th:block class="font-weight-bold" th:each="Question : ${Question.lastUpdateDateTime}">Время изменения
                </th:block>
                <br>
                <br>
            </div>
            <div class="col-2"></div>
            <div class="col-7">
                <th:block th:each="Question : ${Question.description}">Как в js получить список открытых вкладок в
                    браузере?
                    Допустим у нас открыты ютуб, википедия, вк, и localhost

                    И на локалхосте я хочу вывести в консоль url-ы всех открытых вкладок браузера
                </th:block>
                <br>
                <br>
                <button type="button" class="btn btn-info">Tegs</button>
                <br>
                <br>
                <a href="#" class="card-link">Поделиться</a>
                <a href="#" class="card-link">Исправить</a>
                <a href="#" class="card-link">Добавить в избранное</a>
                <th:block class="nav justify-content-end" th:each="Question : ${Question.user} ">Кем задан вопрос
                </th:block>
                <br>
                <br>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Ваш ответ</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
                </div>
                <br>
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <button type="button" class="close d-block mr-2 ml-auto" aria-label="Закрыть">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <div class="modal-body">
                            <p> Спасибо за ваш ответ на Kata Overflow на русском!
                                <br><br>
                                Пожалуйста, убедитесь, что публикуемое сообщение отвечает на поставленный вопрос.
                                Предоставьте как можно больше деталей, расскажите про проведенное исследование!
                                <br><br>
                                Но избегайте:
                                <br><br>
                                Просьб помощи, уточнений или ответов на темы не относящиеся к вопросу.
                                <br><br>
                                Ответов основанных на мнениях; приводите аргументы основанные только на реальном опыте.
                                <br><br>
                                Также, обратите внимание на заметку в справочном центре о том,
                                <a href="#" class="card-link">как писать ответы.</a>
                            </p>
                        </div>
                    </div>
                    <br>
                    <button type="button" class="btn btn-primary">Отправить ответ</button>
                    <br>
                    <br>
                    Посмотрите другие вопросы с метками
                    <button type="button" class="btn btn-info">Tegs</button>
                    или
                    <a href="#" class="card-link">задайте свой вопрос.</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="content"></div>
<div id="footer"></div>

<script type="text/javascript" src="/js/header.js"></script>
<script type="text/javascript" src="/js/sidebar.js"></script>
<script type="text/javascript" src="/js/footer.js"></script>

</body>
</html>