<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Questions</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="column">
                    <!-- заголовок -->
            <div class="d-flex flex-column bd-highlight mb-3">
                    <div class="d-flex bd-highlight">
                        <div class="p-2 flex-fill bd-highlight">All Questions
                        </div>
                        <div class="p-2 flex-fill bd-highlight">
                            <button type="button" class="btn btn-primary">Ask question</button>
                        </div>
                    </div>
                </div>
                <div class="p-2 bd-highlight">
                    <div class="d-flex bd-highlight">
                        <div class="p-2 flex-fill bd-highlight">23,264,926 questions
                        </div>
                        <div class="p-2 flex-fill bd-highlight">
                            <div class="btn-group" role="group" aria-label="Basic outlined example">
                                <button type="button" class="btn btn-outline-primary">Newest</button>
                                <button type="button" class="btn btn-outline-primary">Active</button>

                                <div class="btn-group" role="group">
                                    <button id="btnGroupDrop1" type="button" class="btn btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                        More
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                        <li><a class="dropdown-item" href="#">Dropdown link</a></li>
                                        <li><a class="dropdown-item" href="#">Dropdown link</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="p-2 flex-fill bd-highlight">
                            <button type="button" class="btn btn-outline-primary">Filter</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
            <div class="row">
                <div class="column">
<!--список вопросов-->
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="card border-light mb-3">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <p class="card-text">
                                        <div class="d-flex align-items-end flex-column bd-highlight mb-3">
                                            <div class="p-2 bd-highlight">0 Votes</div>
                                            <div class="p-2 bd-highlight">0 Answers</div>
                                            <div class="p-2 bd-highlight">0 Views</div>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title"><a href="answer">Заголовок карточки</a></h5>
                                            <p class="card-text">Текст вопроса</p>
                                            <p class="card-text">
                                            <div class="d-flex justify-content-between">
                                            <div class="p-2 bd-highlight">
                                                <a class="btn btn-primary" href="tag1" role="button">Tag1</a>
                                                <a class="btn btn-primary" href="tag2" role="button">Tag2</a>
                                                <a class="btn btn-primary" href="tag3" role="button">Tag3</a>
                                            </div>
                                            <div class="p-2 bd-highlight">
                                                <div class="d-flex justify-content-end">
                                                    <div class="p-2 bd-highlight">Author</div>
                                                    <div class="p-2 bd-highlight">1 Asked</div>
                                                    <div class="p-2 bd-highlight">0 min ago</div>
                                            </div>
                                        </div>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="card border-light mb-3">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <p class="card-text">
                                        <div class="d-flex align-items-end flex-column bd-highlight mb-3">
                                            <div class="p-2 bd-highlight">0 Votes</div>
                                            <div class="p-2 bd-highlight">0 Answers</div>
                                            <div class="p-2 bd-highlight">0 Views</div>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title"><a href="answer">Заголовок карточки</a></h5>
                                            <p class="card-text">Текст вопроса</p>
                                            <p class="card-text">
                                            <div class="d-flex justify-content-between">
                                                <div class="p-2 bd-highlight">
                                                    <a class="btn btn-primary" href="tag1" role="button">Tag1</a>
                                                    <a class="btn btn-primary" href="tag2" role="button">Tag2</a>
                                                    <a class="btn btn-primary" href="tag3" role="button">Tag3</a>
                                                </div>
                                                <div class="p-2 bd-highlight">
                                                    <div class="d-flex justify-content-end">
                                                        <div class="p-2 bd-highlight">Author</div>
                                                        <div class="p-2 bd-highlight">1 Asked</div>
                                                        <div class="p-2 bd-highlight">0 min ago</div>
                                                    </div>
                                                </div>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </li>
                        <li class="list-group-item">
                            <div class="card border-light mb-3">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <p class="card-text">
                                        <div class="d-flex align-items-end flex-column bd-highlight mb-3">
                                            <div class="p-2 bd-highlight">0 Votes</div>
                                            <div class="p-2 bd-highlight">0 Answers</div>
                                            <div class="p-2 bd-highlight">0 Views</div>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title"><a href="answer">Заголовок карточки</a></h5>
                                            <p class="card-text">Текст вопроса</p>
                                            <p class="card-text">
                                            <div class="d-flex justify-content-between">
                                                <div class="p-2 bd-highlight">
                                                    <a class="btn btn-primary" href="tag1" role="button">Tag1</a>
                                                    <a class="btn btn-primary" href="tag2" role="button">Tag2</a>
                                                    <a class="btn btn-primary" href="tag3" role="button">Tag3</a>
                                                </div>
                                                <div class="p-2 bd-highlight">
                                                    <div class="d-flex justify-content-end">
                                                        <div class="p-2 bd-highlight">Author</div>
                                                        <div class="p-2 bd-highlight">1 Asked</div>
                                                        <div class="p-2 bd-highlight">0 min ago</div>
                                                    </div>
                                                </div>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </li>

                    </ul>

                </div>
</div>
            <div class="row">
                <div class="column">
                    <!-- Пагинация -->
                    <nav aria-label="...">
                        <ul class="pagination">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item active" aria-current="page">
                                <a class="page-link" href="#">2</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
</div>

        </div>

    </div>
    <script type="text/javascript" src="/js/sidebar.js"></script>
    <script type="text/javascript" src="/js/header.js"></script>
    <script type="text/javascript" src="/js/footer.js"></script>
</body>
</html>