<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Question</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
                crossOrigin="anonymous">
    </script>
    <style>
        p, h2, li, h5 {
            font-size: medium;
            font-family: Bodoni MT Poster Compressed,serif;
        }
        #navbar-toggle-totalQuestions-h4 {
            font-family: "Arial Rounded MT Bold cursive",sans-serif;
            font-weight: 200;
            font-size: 20px;
            font-style: oblique;
        }
    </style>
</head>
<body>
<div id = "content" class="container-fluid row">
    <div id="main-bar" class="container-fluid  col-10" style="width: 70%; background-color:rgba(174,255,174,0.5);margin-right: 0">
        <div id="main-bar-title" class="d-flex justify-content-between" style="padding-bottom: 10px">
            <div id="title" class="align-self-end">
                <h1 style="font-variant: small-caps">Все вопросы</h1>
            </div>
            <div id="btn-question" class="align-self-center">
                <button type="submit" class="btn btn-primary">Задать вопрос</button>
            </div>
        </div>
        <div id="navbar-toggle" class="d-flex justify-content-around" style="margin-bottom:15px ">
            <div id="navbar-toggle-totalQuestions" class="">
                <h4 id="navbar-toggle-totalQuestions-h4">4565454 вопросов всего</h4>
            </div>
            <div id="navbar-toggle-buttons" class="d-flex">
                <div id="nav-toggle-button-new" class="">
                    <button class="btn btn-outline-dark btn-sm">Новые</button>
                </div>
                <div id="nav-toggle-button-current" class="">
                    <button class="btn btn-outline-dark btn-sm">Текущие</button>
                </div>
                <div id="nav-toggle-button-competitive" class="">
                    <button class="btn btn-outline-dark btn-sm">Конкурсные</button>
                </div>
            </div>
            <div id="navbar-questions-filter" class="">
                <div id="nav-toggle-button-unanswered" class="">
                    <div class="dropdown">
                        <button class="btn dropdown-toggle btn-sm" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            Фильтр
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="#">Действие</a></li>
                            <li><a class="dropdown-item" href="#">Другое действие</a></li>
                            <li><a class="dropdown-item" href="#">Что-то еще здесь</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <hr class="hr hr-blurry" />
        <div id="main-bar-content">
            <div id="question-content3" class="d-flex justify-content-center">
                <div id="question-left-side3" class="">
                    <p>0 голосов</p>
                    <p>3 ответа</p>
                </div>
                <div id="question-body3" class="" style="margin-left: 14px">
                    <div id="question-title3" class="">
                        <h4>Sunt detriuses locus dexter, festus musaes.</h4>
                    </div>
                    <div id="question-description3" class="">
                        <p>A prime form of affirmation is the intuition.Energy doesn’t qabalistic reject any wind — but the guru is what rises.Cobaltums peregrinatione in aetheres!</p>
                        <figure class="text-end">
                            <figcaption class="blockquote-footer">
                                <span class="d-flex justify-content-end">
                                    <p class="">Jon1124 &nbsp</p>
                                    <p> 1 вопрос в </p>
                                    <p> <time> &nbsp 20:36</time> </p>
                                </span>
                            </figcaption>
                        </figure>
                    </div>
                    <div id="question-tags3" class="d-flex">
                        <p><a href="#" style="text-decoration: none">tag1</a></p>
                        <p><a href="#" style="text-decoration: none">tag2</a></p>
                    </div>
                </div>

            </div>
            <hr class="hr hr-blurry" />
            <div id="question-content1" class="d-flex justify-content-center">
                <div id="question-left-side1" class="">
                    <p>0 голосов</p>
                    <p>3 ответа</p>
                </div>
                <div id="question-body1" class="" style="margin-left: 14px">
                    <div id="question-title1" class="">
                        <h4>Sunt detriuses locus dexter, festus musaes.</h4>
                    </div>
                    <div id="question-description1" class="">
                        <p>A prime form of affirmation is the intuition.Energy doesn’t qabalistic reject any wind — but the guru is what rises.Cobaltums peregrinatione in aetheres!</p>
                        <figure class="text-end">
                            <figcaption class="blockquote-footer">
                                <span class="d-flex justify-content-end">
                                    <p class="">Jon1124 &nbsp</p>
                                    <p> 1 вопрос в </p>
                                    <p> <time> &nbsp 20:36</time> </p>
                                </span>
                            </figcaption>
                        </figure>
                    </div>
                    <div id="question-tags1" class="d-flex">
                        <p><a href="#" style="text-decoration: none">tag1</a></p>
                        <p><a href="#" style="text-decoration: none">tag2</a></p>
                    </div>
                </div>
            </div>
            <hr class="hr hr-blurry" />
            <div id="question-content2" class="d-flex justify-content-center">
                <div id="question-left-side2" class="" >
                    <p>0 голосов</p>
                    <p>3 ответа</p>
                </div>
                <div id="question-body2" class="" style="margin-left: 14px">
                    <div id="question-title2" class="">
                        <h4>Sunt detriuses locus dexter, festus musaes.</h4>
                    </div>
                    <div id="question-description2" class="">
                        <p>A prime form of affirmation is the intuition.Energy doesn’t qabalistic reject any wind — but the guru is what rises.Cobaltums peregrinatione in aetheres!</p>
                        <figure class="text-end">
                            <figcaption class="blockquote-footer">
                                <span class="d-flex justify-content-end">
                                    <p class="">Jon1124 &nbsp</p>
                                    <p> 1 вопрос в </p>
                                    <p> <time> &nbsp 20:36</time> </p>
                                </span>
                            </figcaption>
                        </figure>
                    </div>
                    <div id="question-tags2" class="d-flex">
                        <p><a href="#" style="text-decoration: none">tag1</a></p>
                        <p><a href="#" style="text-decoration: none">tag2</a></p>
                    </div>
                </div>
            </div>
            <hr class="hr hr-blurry" />
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div id="right-bar" class="col-3" style="background-color: rgba(255,249,178,0.72)">
        <div id="right-bar-content" class="">
            <div id="right-bar-head">
                <h5 class="h5">Связанные теги</h5>
            </div>
            <div id="right-bar-body" class="">
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Cras justo odio
                        <span class="badge badge-primary badge-pill" style="color: black">14</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Dapibus ac facilisis in
                        <span class="badge badge-primary badge-pill" style="color: black">2</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Morbi leo risus
                        <span class="badge badge-primary badge-pill" style="color: black">1</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>
</body>
</html>